<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="C:\Python311\python.exe"
                  arguments="PythonProject2\app.py"
                  startupTimeLimit="60"
                  startupRetryCount="3"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\python.log">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="%SystemDrive%\inetpub\wwwroot\SplitterRedo\PythonProject2" />
        <environmentVariable name="FLASK_APP" value="app.py" />
        <environmentVariable name="PYTHONUNBUFFERED" value="1" />
      </environmentVariables>
    </httpPlatform>
    
    <!-- Set larger upload limits for 1GB files -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    
    <!-- URL Rewrite rules for React SPA -->
    <rewrite>
      <rules>
        <rule name="ReactRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Set timeout for long processing -->
    <aspNetCore requestTimeout="00:30:00" />
  </system.webServer>
  
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="1800" />
  </system.web>
</configuration>

